.content {
  width: 75%;
}

aside {
  width: 30%;
}

aside section {
  background-color: #202020;
}

div header div div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 20px;
}

h1 {
  color: #202020;
}

h2 {
  padding-bottom: 10px;
  color: white;
}

h3 {
  padding-bottom: 7px;
  color: white;
}

p {
  padding-bottom: 5px;
  font-size: 1.15em;
  color: white;
}

main {
  min-height: calc(100vh - 43px);
}

a,
button {
  all: unset;
  user-select: none;
}

a {
  font-size: 20px;
  border-bottom: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  color: white;
}

div header div div a {
  border: 0;
}

div header div div a:hover {
  border: 0;
}

a:hover {
  border-bottom: 2px solid rgb(255, 255, 0);
}

button {
  font-size: 30px;
  color: #202020;
}

svg {
  color: #202020;
}

div main div aside section:last-child div :last-child {
  margin-bottom: 10px;
}

div main div div section div:nth-child(2) h3 {
  margin-top: 0;
}

div main div div section div h3 {
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .content {
    width: calc(100% - 40px);
  }

  aside {
    width: calc(100% - 10px);
    margin-left: 10px;
  }

  aside section div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  aside section div h3 {
    width: 100%;
  }

  aside section div p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
